<div class="card" style="background-color:#<%= card.background_color %>; left: <%= card.left %>px; top: <%= card.top %>px;">
	<span class="database_id"><%= card.id %></span>
	<span class="text"><%= card.text %></span>
</div>
